html,
body,
#root,
.room {
  height: 100vh;
  margin: 0;
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  overflow: hidden; /* added */
  perspective: 800px; /* added */
}

button {
    margin-top: 1rem;
    width: 8rem;/* added */
    height: 2rem;/* added */
    position: relative;/* added */
    z-index: 1;/* added */
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;/* added */
    transform: rotate3d(0, 0, 1, -5deg);
}

button:active {
    transform: rotate3d(0, 0, 1, 5deg);
}

.kuckuck + button {
    transform: rotate3d(0, 0, 1, 5deg);
}

.room {
    position: relative;/* added */
    display: flex;/* added */
    justify-content: center;/* added */
    align-items: center;/* added */
    padding: 30px;
}

.lit {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}
/* animation-stuff */

.kuckuck {
    position: absolute;
    left: -15rem;
    width: 60rem;
    height: 60rem;
    background-image: url('./finger-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: contain;
    animation: switchOff .5s ease-in-out;
}

@keyframes switchOff {
    from {
        transform: rotate(-20deg)
    }

    to {
        transform: rotate(-11deg);
    }
}

.null {
    display: none;
}